html, #input, #output, button, #frame {
	background-color: #000 !important;
	color: #fff !important;
}

#input, #output, hr, button {
	border-color: #fff !important;
}

#frame {
	border-color: #ccc !important;
}
