html, #input, #simplify, #output, button {
	background-color: #000 !important;
	color: #fff !important;
}

#input, #simplify, #output, hr, button {
	border-color: #fff !important;
}

#frame {
	border-color: #ccc !important;
}
