html, #input, #output, #frame, hr, button {
	transition-duration: 1s;
}

body {
	font-size: 24px;
	overscroll-behavior: none;
	overflow-x: clip;
}

.small {
	font-size: 18px;
}

#input {
	height: 30px;
	width: calc(100% - 6px);
	font-size: inherit;
	border: 1px solid #000;
	outline: none;
}

#output {
	min-height: 30px;
	background-color: #fff;
	vertical-align: middle;
	line-height: 30px;
	border: 1px solid #000;
}

button, #frame {
	background-color: #fff;
	font-size: inherit;
	border: 1px solid #000;
}

#frame {
	overflow-x: scroll;
}

canvas {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -ms-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

hr {
	border: 1px inset #ccc;
}
