:root {
	--bg-color: #F0F0F0;
	--txt-color: #101010;
	--hr-color: #C0C0C0;
}

* {
	background-color: var(--bg-color);
	color: var(--txt-color);
	overscroll-behavior: none;
}

html, body {
	font-size: x-large;
}

.small {
	font-size: large;
}

hr {
	border: 1px inset var(--hr-color);
}

#input, #output, #frame, button {
	font-size: inherit;
	border: 1px solid var(--txt-color);
}

#input {
	height: 1.25em;
	width: calc(100% - 6px);
	outline: none;
}

#output {
	min-height: 1.25em;
	vertical-align: middle;
	line-height: 1.25em;
	word-break: break-all;
}

#frame {
	overflow-x: scroll;
}

canvas {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -ms-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

button {
	margin-top: 0.25em;
}

@supports (-webkit-hyphens: none) {
	#frame, canvas {
		background-color: #F0F0F0;
	} 
}
